@page "/CxP/Compra/Create"
@inject ProvedoresServices provedoresService
@inject CompraServices compraService
@inject EstadoServices estadoServices
@inject NavigationManager navigation

<EditForm Model="Compra" OnValidSubmit="Crear">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="section-title">Datos de compra</div>

                <div class="row">
                    <div class="col">
                        <label>ID *</label>
                        <InputNumber class="form-control" @bind-Value="Compra.CompraId" placeholder="CompraId "></InputNumber>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Precio</label>
                        <InputNumber class="form-control" @bind-Value="Compra.Precio" placeholder="Precio"></InputNumber>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Descripcion</label>
                        <InputText class="form-control" @bind-Value="Compra.Descripcion" placeholder="Precio"></InputText>
                    </div>
                </div>

                <div class="section-title">Datos Adicionales</div>

                <div class="row">
                    <div class="col">
                        <label>Provedor</label>
                        <InputSelect class="form-control form-select" @bind-Value="Compra.ProvedorId">
                            <option value="0" selected disabled>Elija una opción</option>
                            @foreach (var provedor in Provedores)
                            {
                                <option value="@provedor.ProvedorId">@provedor.Nombre</option>
                            }
                        </InputSelect>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <InputSelect class="form-control form-select" @bind-Value="Compra.EstadoId">
                            <option value="0" selected disabled>Elija una opción</option>
                            @foreach (var Estado in Estados)
                            {
                                <option value="@Estado.EstadoId">@Estado.Nombre</option>
                            }
                        </InputSelect>
                    </div>

                </div>
            </div>

        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success">Guardar</button>
            <a href="/CxP/Compra/Index" class="btn btn-secondary">Volver</a>
        </div>
    </div>
</EditForm>

@code {
    public Compras Compra { get; set; } = new Compras();
    public List<Provedores> Provedores { get; set; } = new List<Provedores>();
    public List<Estados> Estados { get; set; } = new List<Estados>();
    [Inject] protected ToastService ToastService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Provedores = await provedoresService.Listar(C => true);
        Estados = await estadoServices.Listar(C => true);
    }

    public async Task Crear()
    {
        if (Compra.CompraId == 0)
        {
            await compraService.Guardar(Compra);
            ToastService.Notify(new(ToastType.Success, "Exito", $"Provedor Creado correctamente."));
            Compra = new Compras();
            navigation.NavigateTo("/CxP/Provedores/Index");
        }
        else
        {
            ToastService.Notify(new(ToastType.Danger, "Error", $"Provedor ya existe."));
        }
    }

}
