@page "/Ventas/Pago"
@using Microsoft.AspNetCore.Components
@inject NavigationManager Navigation

<PageTitle>Pago a Credito</PageTitle>

<div class="container mt-4 d-flex justify-content-center">
    <div class="bg-light p-4 d-flex flex-column align-items-center justify-content-center flex-grow-1">
        <h3>Pago con Efectivo</h3>

        <div class="form-group w-40">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" @bind="Nombre" placeholder="Ingrese Nombre" class="form-control">
        </div>

        <div class="form-group w-40">
            <label for="ncf">NCF</label>
            <input type="text" id="ncf" @bind="NCF" placeholder="Ingrese el NCF" class="form-control">
        </div>

        <div class="form-group w-40">
            <label for="total">Total a Pagar</label>
            <input type="text" id="total" value="@Total.ToString("0.00")" class="form-control" readonly>
        </div>

        <div class="form-group w-40 mb-4">
            <label for="efectivo">Monto en Efectivo</label>
            <input type="number" id="efectivo" @bind="Efectivo" placeholder="Ingrese el monto en efectivo" class="form-control" @oninput="CalcularCambio">
        </div>

        <div class="p-4 text-white w-40 text-center" style="background-color: #004b55; border-radius: 6px;">
            <h5 class="fw-bold">Cambio a Devolver</h5>
            <h3>$ @Cambio.ToString("0.00")</h3>
        </div>
    </div>
</div>




@code {
    private string Nombre { get; set; } = "";
    private string NCF { get; set; } = "";
    private double Total { get; set; } = 38.00;
    private double Efectivo { get; set; } = 0.00;
    private double Cambio => Efectivo - Total;

    private void CalcularCambio(ChangeEventArgs e)
    {
        double.TryParse(e.Value?.ToString(), out double efectivo);
        Efectivo = efectivo;
    }
}