@page "/CxP/Index"
@inject ProvedoresServices ProvedoresServices
@inject CompraServices CompraServices

<h2 class="text-center">Cuentas por Pagar y Compra</h2>

<h4>Binvenido a Compra y Cuenta por cobrar</h4>

<div class="row">
    <div class="col-md-3">
        <div class="card shadow-lg text-white" style="background-color: #085559; ">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="card-title bi bi-person-plus m-lg-4">Provedores</h4>
                        <h6 class="m-lg-4">Cant.: @Provedores.Count</h6>
                    </div>

                </div>
            </div>
        </div

        <div class="card shadow-lg text-white" style="background-color: #085559; ">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="card-title bi bi-person-plus m-lg-4">Compra</h4>
                        <h6 class="m-lg-4">Cant.: @Compras.Count</h6>
                    </div>

                </div>
            </div>
        </div>
        
        <div class="card shadow-lg text-white" style="background-color: #085559; ">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="card-title bi bi-person-plus m-lg-4">Orden Compra</h4>
                        <h6 class="m-lg-4">Cant.: @OrdenCompra.Count</h6>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public List<Provedores> Provedores { get; set; } = new List<Provedores>();
    public List<Compras> Compras { get; set; } = new List<Compras>();
    public List<OrdenCompra> OrdenCompra { get; set; } = new List<OrdenCompra>();

    protected override async Task OnInitializedAsync()
    {
        Provedores = await ProvedoresServices.Listar(p => true);
        Compras = await CompraServices.Listar(c => true);
    }
}
