@page "/CxP/Index"
@inject ProvedoresServices ProvedoresServices

<div class="row">
    <div class="col-md-3">
        <div class="card shadow-lg text-white" style="background-color: #4262c2; ">
            <div class="card-body shadow-lg">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="card-title bi bi-person-plus m-lg-4">Provedores</h4>
                        <h6 class="m-lg-4">Cant.: @Provedores.Count</h6>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public List<Provedores> Provedores { get; set; } = new List<Provedores>();

    protected override async Task OnInitializedAsync()
    {
        Provedores = await ProvedoresServices.Listar(p => true);
    }
}
