@page "/Pago/Details/{PagoId:int}"
@inject PagoService pagoService
@inject NavigationManager navigation

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="section-title">Datos del Proveedor</div>

            <div class="row">
                <div class="col">
                    <label class="font-weight-bold">Pago ID:</label>
                    <span>@pago.PagoId</span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="font-weight-bold"> Metodo Pago:</label>
                    <span>@pago.MetodoPago</span>
                </div>
            </div>

            <div class="section-title">Cuenta por pagar Id</div>

            <div class="row">
                <div class="col">
                    <label class="font-weight-bold">Cuenta por pagar Id:</label>
                    <span>@pago.CuentaPorPagarId</span>
                </div>
            </div>     
        </div>
    </div>
    <div class="text-center mt-3">
        <a href="/CxP/Compra/Index" class="btn btn-secondary">Volver</a>
    </div>
</div>

@code {


    [Parameter]
    public int PagoId { get; set; }
    public Pago pago { get; set; } = new Pago();


    [Inject] protected ToastService ToastService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        pago = await pagoService.Buscar(PagoId);
    }
}
