<div class="menu-lateral">
    <div class="menu-logo">
        <a class="navbar-brand">
            <img src="/Imagenes/FondoEP.png" alt="Logo eyepocket" class="logo-img">
        </a>
    </div>
    <ul class="menu-items">
        <li><a class="nav-link" href="#"><i class="bi bi-cash-stack" />Compra</a></li>
        <li><a class="nav-link" href="#"><i class="bi bi-cash-stack" />CxP</a></li>
        <li><a class="nav-link" href="#"><i class="bi bi-plus-circle" />Facturas</a></li>
    </ul>
</div>


