@page "/"
 <div class="card">
	 <div class="card-title align-content-center">
	     <h1 class="align-content-lg-center">Bienvenido a EyePocket</h1>
	 </div>
     <div>
	 <a class="btn btn-outline-success "> Iniciar sesion</a>

     </div>
 </div>

 <style>
    .card {
        max-width: 1000px;
        max-height: 1200px;
        margin: 30px auto; 
        padding: 50px;
        text-align: center;
        background-color: #f4f4f4; 
        border-radius: 8px;
    }

    .card-title h1 {
        font-size: 40px;
        font-weight: bold;
        color: #1a1a1a;
        margin-bottom: 5px;
    }

    .btn-outline-success {
        background-color: #0d3d45; 
        color: white;
        text-align: center;
        font-size: 16px;
        width: 150px; 
        border-radius: 5px;
        text-decoration: none;
        border: none;
    }

        /* Hover del botón */
        .btn-outline-success:hover {
            background-color: #0a2d34;
        }

 </style>
@code {

}
