@page "/CXPs/Create"
@inject CXPService cxpService
@inject EstadoCXPService estadoCXPService
@inject MetodosPagoService metodoPagoService
@inject NavigationManager navigation

<EditForm Model="Cxp" OnValidSubmit="Crear">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="card">
            <div class="card-body">

              
                <div class="section-title">Datos de la cuenta</div>

                <div class="row">
                    <div class="col">
                        <label>Saldo pendiente</label>
                        <InputNumber class="form-control" @bind-Value="Cxp.SaldoPendiente" placeholder="SaldoPendiente"></InputNumber>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Ultimo Pago</label>
                        <InputNumber class="form-control" @bind-Value="Cxp.UltimoPago" placeholder="UltimoPago"></InputNumber>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Metodo Pago</label>
                        <InputSelect class="form-control form-select" @bind-Value="Cxp.MetodoPagoId">
                            <option value="0" selected disabled>Elija una opción</option>
                            @foreach (var MetodoPago in MetodoPago)
                            {
                                <option value="@MetodoPago.MetodoPagoId">@MetodoPago.Descripcion</option>
                            }
                        </InputSelect>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label>Estado de la cuenta</label>
                            <InputSelect class="form-control form-select" @bind-Value="Cxp.EstadoCXPId">
                                <option value="0" selected disabled>Elija una opción</option>
                                @foreach (var Estado in estado)
                                {
                                    <option value="@Estado.EstadoCXPId">@Estado.descripcion</option>
                                }
                            </InputSelect>
                        </div>

                    </div>
                </div>


                </div>
            </div>

        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success">Guardar</button>
        <a href="/CXPs/Index" class="btn btn-secondary">Volver</a>
        </div>
</EditForm>



@code {

    public CXP Cxp { get; set; } = new CXP();
    public List<CXP> ListaCxp { get; set; } = new List<CXP>();
    public List<EstadoCXP> estado { get; set; } = new List<EstadoCXP>();
    public List<MetodosPago> MetodoPago { get; set; } = new List<MetodosPago>();
    [Inject] protected ToastService ToastService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ListaCxp = await cxpService.Listar(C => true);
        estado = await estadoCXPService.Listar(C => true);
        MetodoPago = await metodoPagoService.Listar(C => true);
    }


    public async Task Crear()
    {
        if (Cxp.CuentaId == 0)
        {
            if (Cxp.EstadoCXPId == 0) // Verifica si el estado es inválido
            {
                ToastService.Notify(new(ToastType.Warning, "Advertencia", "Debe seleccionar un estado válido."));
                return; // Detiene la ejecución
            }

            await cxpService.Guardar(Cxp);
            ToastService.Notify(new(ToastType.Success, "Éxito", "Cuenta creada correctamente."));
            Cxp = new CXP();
            navigation.NavigateTo("/CXPS/Index");
        }
        else
        {
            ToastService.Notify(new(ToastType.Danger, "Error", "Cuenta ya existe."));
        }
    }


}
