@page "/CXPs/Details/{CuentaId:int}"
@inject CXPService cxpService
@inject EstadoCXPService estadoCXPService
@inject MetodosPagoService metodoPagoService
@inject NavigationManager navigation

<div class="container">
    <div class="card">
        <div class="card-body">
            <h6 class="section-title"><strong>Datos de la cuenta</strong></h6>
    
            <div class="row">
                <div class="col">
                    <label class="font-weight-bold">Saldo pendiente:</label>
                    <span>@cxp.SaldoPendiente</span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="font-weight-bold">Metodo pago:</label>
                    <span>@metodoPago.Descripcion</span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="font-weight-bold">Estado:</label>
                    <span>@estado.descripcion</span>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-3">
        <a href="/CXPs/Index" class="btn btn-secondary">Volver</a>
    </div>
</div>

@code {


    [Parameter]
    public int CuentaId { get; set; }
    public CXP cxp { get; set; } = new CXP();
    public MetodosPago metodoPago { get; set; } = new MetodosPago();
    public EstadoCXP estado { get; set; } = new EstadoCXP();


    [Inject] protected ToastService ToastService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        cxp = await cxpService.Buscar(CuentaId);
        metodoPago = await metodoPagoService.Buscar(CuentaId) ?? new MetodosPago();
        estado = await estadoCXPService.Buscar(CuentaId) ?? new EstadoCXP();
    }
}
