@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<header> 
    <h1 class="text-danger" style="color: #bf1ff0;">Acceso Denegado</h1>
    <p class="text-danger" style="color: #bf1ff0;">No tienes permiso para acceder a esta pagina.</p>
</header>



